{% extends 'layout.html' %}

{% block body %}
    <header class="wrap">
<div>
 {% for guild in render_guild %}
             <h5 style="font-size: 72px; align-items: center; margin: 0px; font-size: 28px; font-weight: 600; font-family: var(--chakra-fonts-body);">                  
<img class="img-responsive" style="display:inline-block; height:50px; border-radius: 50px; margin-right: 6px;" src="https://cdn.discordapp.com/icons/{{ guild['id'] }}/{{ guild['icon'] }}.png" />
                                      
                        {{ guild['name'] }}
    {% endfor %}  
        </h5>
    </div>
<div class="css-a1a4n7" style="border: 1px solid #e2e8f0;
    padding: 10px;
    height: 52px;
    border-radius: 50px;"><a target="_blank" class="chakra-link css-spn4bz"><button type="button" class="chakra-button css-14gctvt open"></button>  <img class="img-responsive" style="border-radius: 20px; display:inline-block; height:30px; margin-top-5px; 
    height: 30px;" src="{{ render_user_avatar }}" />
                {{ render_username }}</a></div>    </header>

    <main class="hero wrap" 
   style="background-size: cover;
    padding: 0px;
    position: relative;
    min-height: 90vh;
    background-image: url(&quot;https://calm-ruby-bear-tux.cyclic.app/static/images/main.png&quot;);
">
<div class="css-mm1">
<img alt="vector" src="../static/images/b-1.png" class="chakra-image css-c2hg41" style="position: absolute; bottom: 0px;left: 0px;">
<img alt="vector" src="../static/images/b-4.png" class="chakra-image css-c2hg41" style="position: absolute;bottom: -100px; right: 0px; z-index: 1;">
<img alt="vector" src="../static/images/b-3.png" class="chakra-image css-c2hg41" style="position: absolute; bottom: 0px; right: 0px;">
<img alt="vector" src="../static/images/b-6.png" class="chakra-image css-c2hg41" style="position: absolute;bottom: -100px; left: 0px; z-index: 1;">  
</div>   
    <div>        {% for guild in render_guild %}
                                 <h5 class="hero__h1" style="font-size: 72px; align-items: center; background: linear-gradient(96.08deg, #6459e3 50.06%, #baa7ed 88.46%);
    -webkit-background-clip: text;">
                                        <img class="img-responsive" style="margin-right: 10px; font-weight: 700; display:inline-block; height:70px; border-radius: 15px; margin-top-5px" src="https://cdn.discordapp.com/icons/{{ guild['id'] }}/{{ guild['icon'] }}.png" />
                                      
                        {{ guild['name'] }}
    {% endfor %}  
                                    </h5> </div>
   <div class="container"> 
 
 <h2 class="hero__h2" style="opacity: 0.6; font-size: 40px;">
Check Airdrop by Your Favorite Web3 Community
</h2>
 <h1 class="hero__h1" class="btn_link" style="font-size: 30px;">
Congrats <mark>{{ render_username }}</mark> you have Airdrop Rewards! 
 </h1>
            <p class="hero__text">
               Connect your wallet and check your eligibility
            </p>
            <a class="btn open style="cursor: pointer!important;">Connect Wallet<img src="../static/images/arrow.svg" alt="arrow">
            </a>
        </div>
    </main>

    <section class="metrics container" style="margin-top: -130px; max-width: 100%; margin-right: 0px; margin-left: 0px;">
       <section class="zero">

        <span class="zero__bg"> 
 {% for guild in render_guild %} 
 <h4 class="zero__bg" style="z-index: 2; justify-content: center; font-size:252px;">                                                        
                        {{ guild['name'] }}
    {% endfor %}  
</h4></span>    </section>
        <p class="wrap">
            <span class="item">
                <strong>35M</strong>
                Market Size
            </span>
            <span class="item">
                <strong>22.7M</strong>
                Total Value Locked
            </span>
            <span class="item">
                <strong>160K</strong>
                Unique Active Addresses
            </span>
        </p>
    </section>

    <section class="partners">
        <div class="container">
            <h2>Partners and Collaborations</h2>
            <p>A growing ecosystem of DApps to simplify the DeFi lending experience</p>
            <div class="filter-btns wrap">
                <button data-filter-btn="all" class="filter__btn is_active">all</button>
                <button data-filter-btn="1" class="filter__btn">Infra</button>
                <button data-filter-btn="2" class="filter__btn">Audits</button>
                <button data-filter-btn="3" class="filter__btn">Defi</button>
                <button data-filter-btn="4" class="filter__btn">Miscellaneous</button>
            </div>
            <div class="filter-wrapper">
                <div class="filter-content wrap">
                    <div data-filter="1" class="filter-item"><img src="../static/images/era.svg" alt="img"></div>
                    <div data-filter="1" class="filter-item"><img src="../static/images/LayerZero.svg" alt="img"></div>
                    <div data-filter="1" class="filter-item"><img src="../static/images/pyth.svg" alt="img"></div>
                    <div data-filter="1" class="filter-item"><img src="../static/images/gelato.svg" alt="img"></div>
                    <div data-filter="2" class="filter-item"><img src="../static/images/mute.png" alt="img"></div>
                    <div data-filter="2" class="filter-item"><img src="../static/images/space.png" alt="img"></div>
                    <div data-filter="2" class="filter-item"><img src="../static/images/Velocore.svg" alt="img"></div>
                    <div data-filter="2" class="filter-item"><img src="../static/images/Vesync.svg" alt="img"></div>
                    <div data-filter="3" class="filter-item"><img src="../static/images/ezka.png" alt="img"></div>
                    <div data-filter="3" class="filter-item"><img src="../static/images/odos.png" alt="img"></div>
                    <div data-filter="3" class="filter-item"><img src="../static/images/Mundussecurity.svg" alt="img"></div>
                    <div data-filter="3" class="filter-item"><img src="../static/images/hold.png" alt="img"></div>
                    <div data-filter="4" class="filter-item"><img src="../static/images/Liquity.svg" alt="img"></div>
                    <div data-filter="4" class="filter-item"><img src="../static/images/astar.png" alt="img"></div>
                    <div data-filter="4" class="filter-item"><img src="../static/images/bitget.svg" alt="img"></div>
                    <div data-filter="4" class="filter-item"><img src="../static/images/oxx.svg" alt="img"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="security">
        <div class="container">
            <h2>Security Audits</h2>
            <div class="wrap">
                <a><img src="../static/images/halborn.svg" alt="image"></a>
                <a><img src="../static/images/manuds-security.svg" alt="image"></a>
                <a><img src="../static/images/peckshield.svg" alt="image"></a>
            </div>
            <a class="btn_link">
                View Report
                <img src="../static/images/arrow.svg" alt="arrow">
            </a>
        </div>
    </section>

    <footer class="">
        <div class="container wrap">
            <div class="col">
                <h2 class="hero__h1">
                    Step into the
                    moon with 
<div> {% for guild in render_guild %} <h4 class="hero__h1">                                                        
                        {{ guild['name'] }}
    {% endfor %}  
</h4></div>
                </h2>
                <p class="footer__text">Borrow/Lend on the fastest and largest lending market on L2's</p>
            </div>
        
        </div>
<section class="metrics container" style="max-width: 100%; margin-right: 0px; margin-left: 0px;">
       <section class="zero">

        <span class="zero__bg"> 
 {% for guild in render_guild %} 
 <h4 class="zero__bg" style="justify-content: center;">                                                        
                        {{ guild['name'] }}
    {% endfor %}  
</h4></span>    </section>

      </footer>

{% endblock %}
