<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta data -->
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
      <link rel="shortcut icon " type="images/x-icon" href="../static/faav.ico">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Discord Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#000000">
    <meta name="description">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="description" content="Become an Astronaut of EVEDEX with my referral link.">
    <meta property="og:title" content="Alpha Testnet | EVEDEX">
    <meta name="twitter:description" content="Become an Astronaut of EVEDEX with my referral link.">
    <meta property="og:description" content="Become an Astronaut of EVEDEX with my referral link.">
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


        <!-- Custom CSS -->
      
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>

            {% block body %}{% endblock %}
 
    </body>

    <!-- Bootstrap JS -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
