<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta data -->
        <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/673e49dc75f7d1a3f73d0bb8.js"></script>

      <link rel="shortcut icon " type="images/x-icon" href="../static/faav.ico">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Discord Dashboard</title>

        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='main.css')}}">


        <!-- Custom CSS -->
      
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>

      
            {% block body %}{% endblock %}
 
    </body>

    <!-- Bootstrap JS -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
