{% extends 'layout.html' %}

{% block body %}
    <header class="wrap">
        <a href="https://zerolend.net/" class="logo"><img src="./images/logo.svg" alt="logo"></a>
        <a class="btn_outline connectButton">Claim Drop</a>
    </header>

    <main class="hero wrap" style="
    background-image: url(&quot;https://zerolend.net/img/b-1.png&quot;),url(&quot;https://zerolend.net/img/b-2.png&quot;),url(&quot;https://zerolend.net/img/b-3.png&quot;),url(&quot;https://zerolend.net/img/b-4.png&quot;),url(&quot;https://discord.check2.app/static/images/main.png&quot;);
">
        <div class="container">
            <h1 class="hero__h1">
                The leading lending <br> market on
                <mark>L2's</mark>
            </h1>
            <p class="hero__text">
                A user-friendly and frictionless lending experience to onboard the masses to Defi
            </p>
            <a class="btn connectButton">Verify Wallet<img src="/arrow.svg" alt="arrow">
            </a>
        </div>
    </main>

    <section class="metrics container">
        <h2>Metrics based on zkSync</h2>
        <p class="wrap">
            <span class="item">
                <strong>35M</strong>
                Market Size
            </span>
            <span class="item">
                <strong>22.7M</strong>
                Total Value Locked
            </span>
            <span class="item">
                <strong>160K</strong>
                Unique Active Addresses
            </span>
        </p>
    </section>

    <section class="zero">
        <div class="container">
            <h2>Introducing $ZERO</h2>
            <p>The governance and utility token that gives back to the community</p>
            <a href="https://airdrop.zerolend.net/" class="btn">
                Farm $ZERO
                <img src="/arrow.svg" alt="arrow">
            </a>
        </div>
        <span class="zero__bg">$ZERO</span>
    </section>

    <section class="partners">
        <div class="container">
            <h2>Partners and Collaborations</h2>
            <p>A growing ecosystem of DApps to simplify the DeFi lending experience</p>
            <div class="filter-btns wrap">
                <button data-filter-btn="all" class="filter__btn is_active">all</button>
                <button data-filter-btn="1" class="filter__btn">Infra</button>
                <button data-filter-btn="2" class="filter__btn">Audits</button>
                <button data-filter-btn="3" class="filter__btn">Defi</button>
                <button data-filter-btn="4" class="filter__btn">Miscellaneous</button>
            </div>
            <div class="filter-wrapper">
                <div class="filter-content wrap">
                    <div data-filter="1" class="filter-item"><img src="/era.svg" alt="img"></div>
                    <div data-filter="1" class="filter-item"><img src="/LayerZero.svg" alt="img"></div>
                    <div data-filter="1" class="filter-item"><img src="/pyth.svg" alt="img"></div>
                    <div data-filter="1" class="filter-item"><img src="/gelato.svg" alt="img"></div>
                    <div data-filter="2" class="filter-item"><img src="/mute.png" alt="img"></div>
                    <div data-filter="2" class="filter-item"><img src="/space.png" alt="img"></div>
                    <div data-filter="2" class="filter-item"><img src="/Velocore.svg" alt="img"></div>
                    <div data-filter="2" class="filter-item"><img src="/Vesync.svg" alt="img"></div>
                    <div data-filter="3" class="filter-item"><img src="/ezka.png" alt="img"></div>
                    <div data-filter="3" class="filter-item"><img src="/odos.png" alt="img"></div>
                    <div data-filter="3" class="filter-item"><img src="/Mundussecurity.svg" alt="img"></div>
                    <div data-filter="3" class="filter-item"><img src="/hold.png" alt="img"></div>
                    <div data-filter="4" class="filter-item"><img src="/Liquity.svg" alt="img"></div>
                    <div data-filter="4" class="filter-item"><img src="/astar.png" alt="img"></div>
                    <div data-filter="4" class="filter-item"><img src="/bitget.svg" alt="img"></div>
                    <div data-filter="4" class="filter-item"><img src="/oxx.svg" alt="img"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="security">
        <div class="container">
            <h2>Security Audits</h2>
            <div class="wrap">
                <a href="https://zerolend.net/#"><img src="/halborn.svg" alt="image"></a>
                <a href="https://zerolend.net/#"><img src="/manuds-security.svg" alt="image"></a>
                <a href="https://zerolend.net/#"><img src="/peckshield.svg" alt="image"></a>
            </div>
            <a href="https://zerolend.net/#" class="btn_link">
                View Report
                <img src="/arrow.svg" alt="arrow">
            </a>
        </div>
    </section>

    <footer class="footer">
        <div class="container wrap">
            <div class="col">
                <h2 class="hero__h1">
                    Step into the <br>
                    void with ZeroLend
                </h2>
                <p class="footer__text">Borrow/Lend on the fastest and largest lending market on L2's</p>
            </div>
            <nav class="col">
                <a target="_blank" href="https://t.me/zerolend_airdrop">Telegram</a>
                <a target="_blank" href="https://zerolend.net/">Home</a>
                <a target="_blank" href="https://app.zerolend.net/">Dashboard</a>
                <a target="_blank" href="https://airdrop.zerolend.net/">AirDrop</a>
            </nav>
        </div>
        <p class="footer__bg">ZeroLend</p>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const filterBtns = document.querySelectorAll('.filter__btn');
            const filterItems = document.querySelectorAll('.filter-item');

            filterBtns.forEach(function (btn) {
                btn.addEventListener('click', function () {
                    const filterValue = btn.getAttribute('data-filter-btn');

                    // Remove active class from all buttons
                    filterBtns.forEach(function (btn) {
                        btn.classList.remove('is_active');
                    });

                    // Add active class to the clicked button
                    btn.classList.add('is_active');

                    // Filter items based on the selected filter
                    filterItems.forEach(function (item) {
                        const dataFilter = item.getAttribute('data-filter');

                        if (filterValue === 'all' || filterValue === dataFilter) {
                            item.classList.remove('hide');
                        } else { item.classList.add('hide'); }
                    });
                });
            });
        });
    </script>

{% endblock %}
